<form action="">
    <div class="form-group">
        <label class="col-md-4 control-label" for="name">用户名</label>
        <input class="col-md-4 form-control" type="text" placeholder="用户名" ng-model="dd.NAME" ng-disabled="true" />
    </div>
    <div class="form-group mt20">
        <label class="col-md-4 control-label" for="mima">新密码</label>
        <input class="col-md-4 form-control" type="password" placeholder="新密码" ng-model="dd.NewPWD" />
    </div>
    <div class="form-group mt20">
        <label class="col-md-4 control-label" for="confirm">确认密码</label>
        <input class="col-md-4 form-control" type="password" placeholder="确认密码" ng-model="dd.PWD" />
    </div>
    <div class="mt20">
        <button class="btn">保存</button>
    </div>
</form>